{% extends 'ProduitBundle::layout2.html.twig' %}
{% block t %}
    <form action="" method="post">
        <h4>Modification du carte N°:  {% for c in carteFid%} {{c.numCarte}} {% endfor %}</h4>  
        <div name="CarteFid" class="box-lg">
            <div class="form-group">
                <label class="col-md-3 control-label">Numéro de la carte:</label>
                <div class="col-md-9">
                    {% for c in carteFid%}


                        {{form_widget(Form.nbPoint,{'value' : c.nbPoint },{ 'attr': {'class': 'validate[required,maxSize[8]] form-control'} })}}<br>
                    {% endfor %}

                </div>
            </div>
           
               {{ form_widget(Form.Modifier,{'attr':{'class':'btn btn-lg btn-ghost btn-black'}}) }}
{{ form_rest(Form) }}
          
        </div>
    </form>  

{% endblock t%}